<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Welcome to Girlz, FTW <%= @user.first_name %></h1>
   <p>
     Thanks for applying! We're excited to read your application.
   </p>
   <p>
     See our latest news here: <%= @url %>.
   </p>
   <p>Thanks for joining and have a great day!</p>
  </body>
</html>
