<h3>
  Thanks for applying <%= @user.first_name %>! We're excited to read your application.
</h3>
<p>
  All of our communication once you join the program happens on Facebook. If you’re accepted as a mentor, you will be added to a Facebook group. This group will be the place where you can connect with other mentors and mentees in the program. We’ll use this group to provide support, encouragement, and advice for each other. You must have a Facebook page if you want to be a part of this program.
</p>
<p>
  Every month, we’ll host a call with all mentors and mentees. These calls take place on the first Saturday of every month. In these calls, we’ll have inspiring women talk to about how they got to where they are today. Each call will be structured differently but is meant to inspire, inform, and mobilize everyone on the call. This means you’ll probably be tapped to speak at one of these calls because we suspect you’re awesome! Attending these calls is mandatory. You can only miss up to 2 calls (with advanced notice).
</p>
<p>
  You must be willing to commit at least 5 hours a month for 6 months. Sessions with your mentee should last 1 hour every other week. We suggest you prep for at least 30 minutes before each of your mentee calls. Lastly, you must allot 1 hour for the monthly virtual chats.
</p>
<p>
  We will be hosting a mentor training on X DATE. Attending this training is required if you want to be a part of the program.
</p>
<h4>
 See our latest news here: <%= @url %>.
</h4>
<p>Thanks for applying and have a great day!</p>
