<h3>
  Thanks for applying to be a Girlz, FTW mentor <%= @user.first_name %>! We're super excited to read your application!
</h3>
<h5>
  So what happens next?
</h5>
<p>
  Applications will be reviewed after February 16th, 2018, and all applicants will be contacted on March 8th, 2018.
</p>
</br>
<p>
  If you have any bursting questions, head over to our [FAQs](https://www.girlzftw.com/faq). If you can't find your question on our FAQs, send us an email and we'll do our best to answer your question!
</p>
</br>
<h4>
 See our latest news here: <%= @url %>.
</h4>
<p>Cheers!</p>
</br>
<p> The Girlz, FTW Team</p>
