.admin_panel_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.admin_panel_actions {
  display: flex;
  flex-direction: row;
  > * {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    > * {
      margin: 10px;
    }
    button {
      font-size: 15px;
      padding: 4px;
    }
  }
}
