.current_mentees_container {
  border: 1px solid yellow;
  padding: 40px;
  display: flex;
  justify-content: center;
  ul {
    display: flex;

    flex-direction: column;
  }
}

.current_mentees_list_item {
  display: flex;
  width: 600px;
  flex-direction: row;
  // border: 1px solid red;

  > * {
    border: 1px solid green;
    display: flex;
    width: 200px;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    justify-content: center;
  }

  .mentor_mentor_select {
    display: flex;
    flex-direction: column;
  }
}
