.white_text {
  color: white;
}

.inputRow {
  margin-top: 25px;
}

.videoHeader {
  margin-bottom: 25px;
}

.videoListItem {
  margin-bottom: 5px;
}

button {
  margin: 0 3px 10px 0;
  padding-left: 2px;
  padding-right: 2px;
  width: 99px;
}

button:last-of-type {
  margin: 0;
}

p.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

@media screen and (max-width: 500px) {
  .formFontStyle {
    font-size: 14px;
  }
  .formFontStyle2 {
    font-size: 18px;
  }

}

@media screen and (min-width: 501px) and (max-width: 720px) {
  .formFontStyle {
    font-size: 17px;
  }
  .formFontStyle2 {
    font-size: 21px;
  }
}

@media screen and (min-width: 721px) and (max-width: 960px) {
  * {
    line-height: 25px;
  }
  .formFontStyle {
    font-size: 20px;
  }
  .formFontStyle2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 961px) {
  .formFontStyle {
    font-size: 23px;
  }
  .formFontStyle2 {
    font-size: 27px;
  }
}
