.unapproved_container {
  padding-left: 40px;
}

.unapproved_box_container {
  display: flex;
  width: 600px;
  justify-content: center;
  flex-direction: row;
  border: yellow 1px solid;
}
.unapproved_box_left {
  width: 60%;
  height: 150px;
  border: red 1px solid;
}

.unapproved_box_right {
  width: 100%;
  border: green 1px solid;
}

.ReactModal__Body--open {
    overflow: hidden;
}
